# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp

# Dependencies
/node_modules
node_modules

# Env Files
*.env*

# Misc
npm-debug.log

# System Files
.DS_Store
Thumbs.db
